extends layout

block content
  h1= what

  div
    h3 Examples
    ul
      li: a(href='/javascript') javascript
      li: a(href='/quantumn mechanics') quantumn mechanics
      li: a(href='/cache invalidation') cache invalidation
      li: a(href='/genetic engineering.json') genetic engineering (JSON)
      li: a(href='/riding a unicycle.txt') riding a unicycle (plain text)